@{
    ViewBag.Title = "Начальная страница";
}

<div class="jumbotron">
    <h2>Система учета внутриофисных расходов</h2>
</div>
<div class="row">
        <h4>Добро пожаловать в Систему учета внутриофисных расходов!</h4>
        <p>
            Система учета внутриофисных расходов предоставляет возможность сотрудникам осуществлять мелкие покупки
            для нужд фирмы, предоставляя в бухгалтерию товарный чек.
        </p>
</div>