@model CourseProject.Models.Department

@{
    ViewBag.Title = "Удаление отдела";
}

<h2>Удаление отдела</h2>

<h3>Вы уверены, что хотите удалить?</h3>
<div>
    <h4>Отдел</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
            @Html.ActionLink("Назад к списку отделов", "Index")
        </div>
    }
</div>
