@model CourseProject.Models.Department

@{
    ViewBag.Title = "Сведения об отделе";
}

<h2>Сведения об отделе</h2>

<div>
    <h4>Отдел</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Назад к списку отделов", "Index")
</p>
